assignment1/.ipynb_checkpoints
assignment2/.ipynb_checkpoints
assignment3/.ipynb_checkpoints
assignment3/cs231n/datasets/coco_captioning/
assignment3/cs231n/datasets/pretrained_model.h5
assignment3/cs231n/datasets/tiny-imagenet-100-A/
